@page "/customers/create/new"
@using ArchitectureSample.Application.Blazor.Client.Services
@using ArchitectureSample.Application.Blazor.Client.Dtos
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<h1>Create Customer</h1>
<br />

<Form ButtonText="Create Customer" Customer="@_customer" loading="@loading"
      OnValidSubmit="@CreateCustomer" FormName="Create"></Form>

@code {
	bool loading = false;

	private readonly CustomerDto _customer = new()
		{
			DateOfBirth = DateTime.Now.AddYears(-30),
			BankAccount = string.Empty,
			Email = string.Empty,
			PhoneNumber = string.Empty,
			FirstName = string.Empty,
			LastName = string.Empty,
		};
	async Task CreateCustomer()
	{
		loading = true;
		try
		{
			await CustomerService.Create(_customer);
			NavigationManager.NavigateTo("/customers/new/1");

		}
		catch
		{
			loading = false;
			StateHasChanged();
		}
	}
}